section#sponsors
  .container
    .row
      .col-md-12.text-center
        h2.section-heading.text-primary Platinum Sponsor

    .row
      .col-md-offset-1.col-md-10

        a.sponsor.col-sm-12(
          href='https://www.fanduel.com/',
          title='fanduel'
        )
          img.img-responsive.img-centered(
            width='400',
            src='images/logos/fanduel.png',
            alt='fanduel'
          )

//     .row
//      .col-md-12.text-center
//        h2.section-heading.text-primary Silver Sponsors

//    .row
//      .col-md-offset-1.col-md-10

//        a.sponsor.col-sm-4.col-xs-4(
//            href='https://www.adesso.de/',
//            title='adesso AG'
//          )
//          img.img-responsive.img-centered(
//            width='400',
//            src='images/logos/adesso.png',
//            srcset='images/logos/adesso@2x.png 2x',
//            alt='adesso AG'
//         )

//        a.sponsor.col-sm-4.col-xs-4(
//            href='https://travis-ci.org/',
//            title='Travis CI'
//          )
//          img.img-responsive.img-centered(
//            width='400',
//            src='images/logos/travisci.png',
//            srcset='images/logos/travisci@2x.png 2x',
//            alt='Travis CI'
//         )

//        a.sponsor.col-sm-4.col-xs-4(
//            href='http://www.fromatob.de/',
//            title='fromAtoB'
//          )
//          img.img-responsive.img-centered(
//            width='400',
//            src='images/logos/fromatob.png',
//            srcset='images/logos/fromatob@2x.png 2x',
//            alt='fromAtoB'
//         )

//    .row
//      .col-md-12.text-center
//        h2.section-heading.text-primary Friends and Family

//    .row
//      .col-md-offset-1.col-md-10
//        a.sponsor.col-sm-4.col-xs-4(
//            href='http://hood.ie/',
//            title='Hoodie'
//          )
//          img.img-responsive.img-centered(
//            width='300',
//            src='images/logos/hoodie@2x.png',
//            srcset='images/logos/hoodie@2x.png 2x',
//            alt='Hoodie'
//          )
//        a.sponsor.col-sm-4.col-xs-4(
//            href='http://slidr.io/',
//            title='Slidr.io'
//          )
//          img.img-responsive.img-centered(
//            width='250',
//            src='images/logos/slidrio.png',
//            srcset='images/logos/slidrio@2x.png 2x',
//            alt='Slidr.io'
//          )
//        a.sponsor.col-sm-4.col-xs-4(
//            href='http://www.nightlybuild.io',
//            title='NightlyBuild'
//          )
//          img.img-responsive.img-centered(
//            width='100',
//            src='images/logos/nightlybuild.png',
//            srcset='images/logos/nightlybuild@2x.png 2x',
//            alt='NightlyBuild'
//          )

//    .row
//      .col-md-12.text-center
//        h2.section-heading.text-primary Supporter

//    .row
//      .col-md-offset-2.col-md-4.text-center
//        p Benjamin Kampmann
//      .col-md-4.text-center
//        p Sebastian Deutsch
//    .row
//      .col-md-offset-2.col-md-4.text-center
//        p Dennis Wilson
//      .col-md-4.text-center
//        p GBTEC Software + Consulting AG
//    .row
//      .col-md-offset-2.col-md-4.text-center
//        p Martin Stadler
//      .col-md-4.text-center
//        p Robin Böning
//    .row
//      br
//      .col-md-offset-3.col-md-2.text-center
//        img.img-responsive.img-centered(
//          width='100',
//          src='images/logos/mytaxi.png',
//          srcset='images/logos/mytaxi@2x.png 2x',
//          alt='mytaxi',
//          title='mytaxi'
//        )
//      .col-md-2.text-center
//        img.img-responsive.img-centered(
//          width='100',
//          src='images/logos/mozilla_wordmark.png',
//          alt='Mozilla',
//          title='Mozilla'
//        )
//      .col-md-2.text-center
//        img.img-responsive.img-centered(
//          width='40',
//          src='images/logos/firefox-developer_logo.png',
//          alt='Firefox Developer Edition',
//          title='Firefox Developer Edition'
//        )
