section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading The Team
        h3.section-subheading.text-muted
          | The conference is brought to you by us. You may
          a(href='mailto:team@otsconf.com') contact us
          |  anytime.
    .row
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/jiggy_pete.jpg',
            alt='Peter Aitken'
          )
          h4 Peter Aitken
          p.text-muted
            a(href='http://scotlandjs.com') Organiser
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/jiggy_pete')
                i.fa.fa-twitter
            li
              a(href='https://github.com/jiggypete')
                i.fa.fa-github-alt
            li
              a(href='http://cultivatehq.com/')
                i.fa.fa-globe
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/jessica_rose.jpg',
            srcset='images/team/jessica_rose.jpg',
            alt='Jessica Rose'
          )
          h4 Jessica Rose
          p.text-muted
            a(href='http://scotlandjs.com/') Diversity Programme Manager
            | #{' | '}
            a(href='http://scotlandjs.com') MC

          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/jesslynnrose')
                i.fa.fa-twitter
            li
              a(href='https://github.com/jessicarose')
                i.fa.fa-github-alt
            li
              a(href='http://closetoclever.com')
                i.fa.fa-globe
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/stuart.jpg',
            alt='Stuart Memo'
          )
          h4 Stuart Memo
          p.text-muted
            a(href='http://scotlandjs.com') MC

          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/stuartmemo')
                i.fa.fa-twitter
            li
              a(href='https://github.com/stuartmemo')
                i.fa.fa-github-alt


    .row
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/alan.jpg'
            alt='Alan Gardner'
          )
          h4 Alan Gardner
          p.text-muted Staff
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/mr_urf')
                i.fa.fa-twitter
            li
              a(href='https://github.com/urfolomeus')
                i.fa.fa-github-alt
            li
              a(href='http://cultivatehq.com/')
                i.fa.fa-globe

      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/varya.jpg',
            alt='Varya Stepenova'
          )
          h4 Varya Stepenova
          p.text-muted Staff
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/varya_en')
                i.fa.fa-twitter
            li
              a(href='https://github.com/varya')
                i.fa.fa-github-alt

      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/tj.jpg'
            alt='TJ Sheehy'
          )
          h4 TJ Sheehy
          p.text-muted Staff
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/tjsheehy')
                i.fa.fa-twitter
            li
              a(href='https://github.com/tjsheehy')
                i.fa.fa-github-alt
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/béatrice.jpg',
            alt='Béatrice Lejou'
          )
          h4 Béatrice Lejou
          p.text-muted Staff
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/glovesmore')
                i.fa.fa-twitter
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/andy.jpg',
            alt='Andy Robinson'
          )
          h4 Andy Robinson
          p.text-muted Staff
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/andyrobinsonuk')
                i.fa.fa-twitter
            li
              a(href='http://cultivatehq.com/')
                i.fa.fa-globe
